:root {
    /* Colores */
    --fondo: white;
    --texto: black;
    --enlace: blue;
    --enlace-visitado: purple;
    --enlace-visitado-nav: white;
    --indice: rgb(82, 133, 180);
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    color:var(--enlace);
    display: block;
    margin-top: 2rem;
}

a {
    color:var(--enlace);
}

a:visited {
    color:var(--enlace-visitado);
}

nav {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}

nav a {
    display: block;
    color:var(--enlace);
    text-transform: capitalize;
    display: block;
    margin: 0 10px;
    padding: 2px 6px;
    border: 1px solid var(--enlace);
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    color: var(--enlace);
    background-color: var(--indice);
}

nav a:hover {
    color: var(--fondo);
}

nav a:visited {
    color: var(--enlace-visitado-nav);
}

h4 {
    color: var(--enlace);
}

.rosa {
    color: rgb(207, 33, 164);
    font-size: 1.2rem;
    font-weight: 600;
}

.normal {
    color: green;
    font-size: 1.3rem;
    font-weight: 200;
}

#animateMe {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    position: relative;
    transition: width 2s, height 2s, background-color 2s;
}

#cajaGorda, #cajaGorda2 {
    width: 600px;
    height: 300px;
    border: 1px solid var(--texto);
    border-radius: 5px;
    background-color: cornsilk;
    position:relative;
}

.cajicas {
    border: 1px solid var(--texto);
    border-radius: 5px;
    background-color: rgb(50, 145, 233);
    box-shadow: 2px 2px 4px grey;
}

.cajurrias {
    width: 32px;
    height: 32px;
    background-color:deeppink;
    border-radius: 5px;
    border: 1px solid var(---texto);
    box-shadow: 2px 2px 4px rgb(98, 98, 98);
}

.info {
    font-style: italic;
    font-weight: 300;
    font-size: smaller;
    margin: 4px;
}

.textito {
    font-size: smaller;
}

.tareas {
    max-width: 36%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.borrar {
    margin-left: 12px;
    font-size: xx-small;
    background-color: pink;
    border-radius: 4px;
    border-color: red;
}

.hecho {
    margin-left: 12px;
    font-size: xx-small;
    background-color: rgb(127, 224, 98);
    border-radius: 4px;
    border-color: green;
}

.tachao {
    text-decoration: line-through;
    text-decoration-style:solid;
    text-decoration-color: blue;
}

/* Estilo hortera */
.hortera {
    --fondo: pink;
    --texto: red;
    --enlace: purple;
    --enlace-visitado: rgb(89, 65, 94);
    --enlace-visitado-nav: magenta;
    --indice: rgb(215, 218, 87);
}

/* Estilo oscuro */
.oscuro {
    --fondo: black;
    --texto: white;
    --enlace: yellow;
    --indice: rgba(230, 176, 94, 0.404);
    --enlace-visitado: rgb(168, 115, 15);
    --enlace-visitado-nav: black;
}

.cajicas {
    width: 60px;
    height: 60px;
}

.enfila {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.encolumna {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.5rem;
}

.encuadro {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.cajaResultados {
    width: 60vw;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 6px;
    margin-top: 1.5rem;
    padding: 0 2rem;
}

.editables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem 1rem;
    box-shadow: 2px 2px 2px 0.6;
    border-radius: 5px;
    background-color: antiquewhite;
    max-width: 20%;
    min-width: 10%;
}

.h3-horrible {
    color:rgb(63, 42, 27);
}

.iconito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 119, 79);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}