body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    display: block;
    margin-top: 2rem;
}

.rosa {
    color: rgb(207, 33, 164);
    font-size: 1.2rem;
    font-weight: 600;
}

.normal {
    color: darkblue;
    font-size: 1.3rem;
    font-weight: 200;
}

#animateMe {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    transition: width 2s, height 2s, background-color 2s;
}

#cajaGorda, #cajaGorda2 {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: cornsilk;
    position:relative;
}

.cajicas {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(50, 145, 233);
    box-shadow: 2px 2px 4px darkslategrey;
}

.info {
    font-style: italic;
    font-weight: 300;
    font-size: smaller;
}

.textito {
    font-size: smaller;
}